div{
    display: flex;
    border: 5px solid #000000;
    margin: 50px;
}

div img{
    width:300px;
    height:300px;
}
#one {
    background-color:#2424c3;
    justify-content: center;
}

#two {
    background-color: #15c315;
    justify-content: space-around;
}

#three {
    background-color: #a12323;
    justify-content: space-between;
}

#four {
    background-color: #e9ed0b;
    justify-content: space-between;
}

#five {
    background-color: #aa2baa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

